.title .name{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    font-size: 80px;
    width: 90%;
}
.title {
    display: flex;
    padding: 1rem;
    background: lightseagreen;
    border-radius: 15px;
}
.logo img {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
}
.navbar {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
    font-weight: lighter;
    font-size: 30px;;
    padding: 0;
}
.right,.left {
    text-align: center;
    padding: 30px 0 0 30px;
}
.left {
    display: none;
}
@media only screen and (max-width: 826px) {
    .navbar {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 400px) {
    .name {
        font-size: 300px;
        float: left;
    }
    .logo img {
        width: 6rem;
        height: 6rem;
}
}